<a href="https://colab.research.google.com/github/April03exo/BSIS-2A_RAPANUT-APRIL-JOY-V./blob/main/2nd_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/April03exo/BSIS-2A_RAPANUT-APRIL-JOY-V./main/SALARY_DATA.csv')

In [ ]:
print(df)

    EmployeeID     Name  Age Department  Salary
0            1    Alice   45         HR   54000
1            2      Bob   52         IT   78000
2            3  Charlie   37    Finance   66000
3            4    David   28  Marketing   72000
4            5     Eva    41     Sales    85000
5            6    Frank   53         IT   90000
6            7    Grace   32    Finance   62000
7            8    Henry   25         HR   40000
8            9      Ivy   48     Sales    94000
9           10     Jack   39  Marketing   70000
10          11    Karen   29         IT   65000
11          12      Leo   44    Finance   86000
12          13     Mona   33         HR   47000
13          14     Nina   51     Sales    88000
14          15    Oscar   36  Marketing   56000

In [ ]:
Salary = df['Salary'].to_numpy()

In [ ]:
mean_salary = np.mean(Salary)

In [ ]:
print(mean_salary)

70200.0

In [ ]:
median_salary = np.median(Salary)

In [ ]:
print(median_salary)

70000.0

In [ ]:
std_salary = np.std(Salary)

In [ ]:
print(std_salary)

15988.32907675679

In [ ]:
total = np.sum(Salary)

In [ ]:
print(total)

1053000