<a href="https://colab.research.google.com/github/April03exo/BSIS-2A_RAPANUT-APRIL-JOY-V./blob/main/MAM_DATO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('https://raw.githubusercontent.com/April03exo/BSIS-2A_RAPANUT-APRIL-JOY-V./refs/heads/main/cars_with_na.csv')

In [81]:
print(df)

    Car_Brand     Model    Year    Price
0      Toyota   Corolla  2009.0      NaN
1       Honda     Civic  2004.0  34542.0
2        Ford     Focus  2004.0   6546.0
3         BMW  3 Series  2008.0      NaN
4   Chevrolet     Cruze  2015.0      NaN
..        ...       ...     ...      ...
60     Toyota   Corolla  2016.0  27431.0
61      Honda     Civic  2004.0  31648.0
62       Ford       NaN  2014.0  34108.0
63        NaN  3 Series     NaN  10646.0
64  Chevrolet     Cruze  2023.0  26550.0

[65 rows x 4 columns]

In [82]:
print(df[df.isnull().any(axis=1)])

    Car_Brand     Model    Year    Price
0      Toyota   Corolla  2009.0      NaN
3         BMW  3 Series  2008.0      NaN
4   Chevrolet     Cruze  2015.0      NaN
5      Nissan       NaN  2010.0  44318.0
6     Hyundai   Elantra     NaN  37730.0
7         NaN       Rio  2005.0  28278.0
8         NaN      Golf  2015.0  45228.0
9    Mercedes   C-Class  2002.0      NaN
14  Chevrolet       NaN  2020.0   5998.0
17        Kia       NaN  2015.0  28006.0
22       Ford       NaN  2020.0  30625.0
28        NaN      Golf  2017.0  41607.0
35     Nissan    Altima     NaN  14465.0
42        NaN     Focus  2018.0  10070.0
49   Mercedes   C-Class  2005.0      NaN
50     Toyota   Corolla     NaN   9766.0
57        Kia       Rio     NaN   8270.0
62       Ford       NaN  2014.0  34108.0
63        NaN  3 Series     NaN  10646.0

In [83]:
print(df.isnull().sum())

Car_Brand    5
Model        5
Year         5
Price        5
dtype: int64

In [84]:
df_drop_rows = df.dropna()
print(df_drop_rows)

     Car_Brand     Model    Year    Price
1        Honda     Civic  2004.0  34542.0
2         Ford     Focus  2004.0   6546.0
10      Toyota   Corolla  2012.0  44612.0
11       Honda     Civic  2011.0  40605.0
12        Ford     Focus  2003.0  46197.0
13         BMW  3 Series  2003.0  26814.0
15      Nissan    Altima  2015.0  22651.0
16     Hyundai   Elantra  2019.0  33010.0
18  Volkswagen      Golf  2009.0  18318.0
19    Mercedes   C-Class  2009.0   7170.0
20      Toyota   Corolla  2007.0  38241.0
21       Honda     Civic  2017.0  13245.0
23         BMW  3 Series  2006.0  40146.0
24   Chevrolet     Cruze  2014.0  43115.0
25      Nissan    Altima  2006.0  18953.0
26     Hyundai   Elantra  2012.0  22948.0
27         Kia       Rio  2011.0  10722.0
29    Mercedes   C-Class  2009.0  38675.0
30      Toyota   Corolla  2003.0  13146.0
31       Honda     Civic  2003.0  17790.0
32        Ford     Focus  2007.0  40531.0
33         BMW  3 Series  2018.0  12227.0
34   Chevrolet     Cruze  2009.0  20499.0
36     Hyundai   Elantra  2017.0  25118.0
37         Kia       Rio  2008.0   9777.0
38  Volkswagen      Golf  2001.0  25704.0
39    Mercedes   C-Class  2005.0  48503.0
40      Toyota   Corolla  2014.0  45380.0
41       Honda     Civic  2002.0  25836.0
43         BMW  3 Series  2023.0  24747.0
44   Chevrolet     Cruze  2015.0  26215.0
45      Nissan    Altima  2005.0  16630.0
46     Hyundai   Elantra  2015.0  45101.0
47         Kia       Rio  2020.0  30681.0
48  Volkswagen      Golf  2022.0   8368.0
51       Honda     Civic  2020.0  39468.0
52        Ford     Focus  2022.0  19271.0
53         BMW  3 Series  2014.0  18209.0
54   Chevrolet     Cruze  2010.0  12592.0
55      Nissan    Altima  2005.0  15384.0
56     Hyundai   Elantra  2001.0  16770.0
58  Volkswagen      Golf  2012.0  39828.0
59    Mercedes   C-Class  2016.0   6908.0
60      Toyota   Corolla  2016.0  27431.0
61       Honda     Civic  2004.0  31648.0
64   Chevrolet     Cruze  2023.0  26550.0

In [85]:
print(df.isnull().sum())

Car_Brand    5
Model        5
Year         5
Price        5
dtype: int64

In [86]:
df.fillna(0, inplace= True)

In [87]:
df.fillna(0)

    Car_Brand     Model    Year    Price
0      Toyota   Corolla  2009.0      0.0
1       Honda     Civic  2004.0  34542.0
2        Ford     Focus  2004.0   6546.0
3         BMW  3 Series  2008.0      0.0
4   Chevrolet     Cruze  2015.0      0.0
..        ...       ...     ...      ...
60     Toyota   Corolla  2016.0  27431.0
61      Honda     Civic  2004.0  31648.0
62       Ford         0  2014.0  34108.0
63          0  3 Series     0.0  10646.0
64  Chevrolet     Cruze  2023.0  26550.0

[65 rows x 4 columns]

In [88]:
print(df)

    Car_Brand     Model    Year    Price
0      Toyota   Corolla  2009.0      0.0
1       Honda     Civic  2004.0  34542.0
2        Ford     Focus  2004.0   6546.0
3         BMW  3 Series  2008.0      0.0
4   Chevrolet     Cruze  2015.0      0.0
..        ...       ...     ...      ...
60     Toyota   Corolla  2016.0  27431.0
61      Honda     Civic  2004.0  31648.0
62       Ford         0  2014.0  34108.0
63          0  3 Series     0.0  10646.0
64  Chevrolet     Cruze  2023.0  26550.0

[65 rows x 4 columns]

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Car_Brand  65 non-null     object
 1   Model      65 non-null     object
 2   Year       65 non-null     float64
 3   Price      65 non-null     float64
dtypes: float64(2), object(2)
memory usage: 2.2+ KB