<a href="https://colab.research.google.com/github/April03exo/BSIS-2A_RAPANUT-APRIL-JOY-V./blob/main/MAM_DATO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/April03exo/BSIS-2A_RAPANUT-APRIL-JOY-V./refs/heads/main/cars_with_na.csv')

In [3]:
print(df)

    Car_Brand     Model    Year    Price
0      Toyota   Corolla  2009.0      NaN
1       Honda     Civic  2004.0  34542.0
2        Ford     Focus  2004.0   6546.0
3         BMW  3 Series  2008.0      NaN
4   Chevrolet     Cruze  2015.0      NaN
..        ...       ...     ...      ...
60     Toyota   Corolla  2016.0  27431.0
61      Honda     Civic  2004.0  31648.0
62       Ford       NaN  2014.0  34108.0
63        NaN  3 Series     NaN  10646.0
64  Chevrolet     Cruze  2023.0  26550.0

[65 rows x 4 columns]

In [4]:
print(df[df.isnull().any(axis=1)])

    Car_Brand     Model    Year    Price
0      Toyota   Corolla  2009.0      NaN
3         BMW  3 Series  2008.0      NaN
4   Chevrolet     Cruze  2015.0      NaN
5      Nissan       NaN  2010.0  44318.0
6     Hyundai   Elantra     NaN  37730.0
7         NaN       Rio  2005.0  28278.0
8         NaN      Golf  2015.0  45228.0
9    Mercedes   C-Class  2002.0      NaN
14  Chevrolet       NaN  2020.0   5998.0
17        Kia       NaN  2015.0  28006.0
22       Ford       NaN  2020.0  30625.0
28        NaN      Golf  2017.0  41607.0
35     Nissan    Altima     NaN  14465.0
42        NaN     Focus  2018.0  10070.0
49   Mercedes   C-Class  2005.0      NaN
50     Toyota   Corolla     NaN   9766.0
57        Kia       Rio     NaN   8270.0
62       Ford       NaN  2014.0  34108.0
63        NaN  3 Series     NaN  10646.0

In [5]:
print(df.isnull().sum())

Car_Brand    5
Model        5
Year         5
Price        5
dtype: int64

In [6]:
df.fillna(0, inplace= True)

In [7]:
df.fillna(0)

    Car_Brand     Model    Year    Price
0      Toyota   Corolla  2009.0      0.0
1       Honda     Civic  2004.0  34542.0
2        Ford     Focus  2004.0   6546.0
3         BMW  3 Series  2008.0      0.0
4   Chevrolet     Cruze  2015.0      0.0
..        ...       ...     ...      ...
60     Toyota   Corolla  2016.0  27431.0
61      Honda     Civic  2004.0  31648.0
62       Ford         0  2014.0  34108.0
63          0  3 Series     0.0  10646.0
64  Chevrolet     Cruze  2023.0  26550.0

[65 rows x 4 columns]

In [8]:
df_drop_rows = df.dropna()
print(df_drop_rows)

    Car_Brand     Model    Year    Price
0      Toyota   Corolla  2009.0      0.0
1       Honda     Civic  2004.0  34542.0
2        Ford     Focus  2004.0   6546.0
3         BMW  3 Series  2008.0      0.0
4   Chevrolet     Cruze  2015.0      0.0
..        ...       ...     ...      ...
60     Toyota   Corolla  2016.0  27431.0
61      Honda     Civic  2004.0  31648.0
62       Ford         0  2014.0  34108.0
63          0  3 Series     0.0  10646.0
64  Chevrolet     Cruze  2023.0  26550.0

[65 rows x 4 columns]

In [9]:
print(df.isnull().sum())

Car_Brand    0
Model        0
Year         0
Price        0
dtype: int64

In [10]:
print(df)

    Car_Brand     Model    Year    Price
0      Toyota   Corolla  2009.0      0.0
1       Honda     Civic  2004.0  34542.0
2        Ford     Focus  2004.0   6546.0
3         BMW  3 Series  2008.0      0.0
4   Chevrolet     Cruze  2015.0      0.0
..        ...       ...     ...      ...
60     Toyota   Corolla  2016.0  27431.0
61      Honda     Civic  2004.0  31648.0
62       Ford         0  2014.0  34108.0
63          0  3 Series     0.0  10646.0
64  Chevrolet     Cruze  2023.0  26550.0

[65 rows x 4 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Car_Brand  65 non-null     object
 1   Model      65 non-null     object
 2   Year       65 non-null     float64
 3   Price      65 non-null     float64
dtypes: float64(2), object(2)
memory usage: 2.2+ KB